<script id="scoreboardTemplate" type="text/x-handlebars-template">
  <ul class="4u" id="scoreboard">
    {{#each player}}
    <li>{{name}}: {{point_totals.total}}</li>
    {{/each}}
  </ul>
  <div class="points">{{this.point_totals.total}}</div>
</script>
