<!-- <p id="notice"><%= notice %></p> -->

<nav id="nav">
  <ul>
    <li><a href="">ApplesToo</a></li>
  </ul>
</nav>
<div id="game_body">
  <div id="game_board"></div>
  <div id="player_score"></div>
  <div id="round_card"></div>
  <div id="player_body">
    <ul id="red_cards">
    </ul>
  </div>
</div>




<script type="text/javascript">
$(document).ready(function(){
  var gsv = new Applestoo.Views.GamesShow();
  var gcsv = new Applestoo.Views.GreenCardsShow();
  var rcsv = new Applestoo.Views.RedCardsShow();
  var psv = new Applestoo.Views.PlayersShow();
  gsv.render();

  psv.render();

  gcsv.render();

  rcsv.render();

});
</script>
