
  <li class="player_hand">
    <h3>Noun</h3>
    <p>description</p>
  </li>

  <li class="player_hand">
    <h3>Noun</h3>
    <p>description</p>
  </li>

  <li class="player_hand">
    <h3>Noun</h3>
    <p>description</p>
  </li>

  <li class="player_hand">
    <h3>Noun</h3>
    <p>description</p>
  </li>

  <li class="player_hand">
    <h3>Noun</h3>
    <p>description</p>
  </li>

  <li class="player_hand">
    <h3>Noun</h3>
    <p>description</p>
  </li>

  <li class="player_hand">
    <h3>Noun</h3>
    <p>description</p>
  </li>

  <li class="player_hand">
    <h3>Noun</h3>
    <p>description</p>
  </li>

