<!--


<nav id="nav">
  <ul>
    <li><a href="">ApplesToo</a></li>
  </ul>
</nav>
<div id="chooser_body">
  <div id="choose_card">Choose Green Card</div>
  <div id="round_card_reveal">
    <div id="green_card">
      <h3><%= get_random_green.adjective %></h3>
      <p><%= get_random_green.description %></p>
    </div>
  </div>
</div>
 -->
